ipython>=3.11
web3
annotated-types==0.7.0
asttokens==2.4.1
attrs==23.2.0
bitarray==2.9.2
cached-property==1.5.2
cbor2==5.6.3
certifi==2024.2.2
charset-normalizer==3.3.2
ckzg==1.0.2
coverage==7.5.3
cytoolz==0.12.3
eth-account==0.13.0
eth-bloom==3.0.1
eth-hash==0.7.0
eth-keyfile==0.8.1
eth-keys==0.5.1
eth-rlp==2.1.0
eth-stdlib==0.2.7
eth-typing==4.2.3
eth-utils==4.1.1
eth_abi==5.1.0
exceptiongroup==1.2.1
hexbytes==1.2.0
hypothesis==6.103.0
idna==3.7
importlib_metadata==7.1.0
iniconfig==2.0.0
lru-dict==1.3.0
markdown-it-py==3.0.0
mdurl==0.1.2
packaging==23.2
parsimonious==0.10.0
pluggy==1.5.0
plyvel==1.5.1
py-ecc==7.0.1
py-evm==0.10.1b1
pycryptodome==3.20.0
pydantic==2.7.2
pydantic_core==2.18.3
Pygments==2.18.0
pytest==8.2.1
pytest-cov==5.0.0
regex==2024.5.15
requests==2.32.2
rich==13.7.1
rlp==4.0.1
six==1.16.0
sortedcontainers==2.4.0
titanoboa @ git+https://github.com/vyperlang/titanoboa@a06e134b25c8206cb4d6d76521e6705111e92c68
tomli==2.0.1
toolz==0.12.1
trie==3.0.1
typing_extensions==4.12.0
ujson==5.10.0
urllib3==2.2.1
venv-run==0.2.0
vyper==0.3.10
zipp==3.19.0
